.description{

}

.description__text{

}

.description__title{
    max-width: 830px;
    max-height: 116px;
    top: 1269px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    background: #FFFFFF;
}

.description__subtitle{
    width: 737.78px;
    height: 68px;
    top: 1425px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    background: #FFFFFF;
}

.description__author{
    width: 732px;
    height: 34px;
    top: 1503px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    background: #FFFFFF;
}

.description__paragraph{
    width: 721.74px;
    height: 182px;
    top: 1569px;
    left: 148px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    background: #FFFFFF;
}

