.cities{
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cities__content{
    display:grid;
    justify-content: center;
    gap:40px;
    grid-template-areas:
        "title artist"
        "image texts"
        "button texts"
        ". texts";
}

.cities__title{
    grid-area: title;
    max-width: 458px;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    color: white;
    margin-top: 92px;
    margin-bottom: 0;
}

.cities__artist{
    grid-area:artist;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cities__heading{
    color: #AAAAAA;
    max-width: 57.82px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-align: left;
    margin-bottom: 8px;
}

.cities__subheading{
    color: white;
    margin: 0;
}

.cities__image{
    grid-area: image;
    max-width: 458.6px;
    max-height: 460px;
    width: 100%;
}

.cities__content-paragraph{
    grid-area: texts;
    max-width: 482.53px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
}

.cities__paragraph{
    color: white;
}

.cities__button{
    grid-area: button;
    width: 284.13px;
    background: linear-gradient(90deg, #0278fe 0%, #003a7b);
    height: 48px;
    padding: 13px 20px 13px 20px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .cities {
      margin: 88px 24px 0;
    }
  }

  @media screen and (max-width: 720px) {
    .cities {
      margin: 62px 0 64px;
      gap: 50px;
    }
  
    .cities__content {
      gap: 30px;
      grid-template-areas:
        "title"
        "artist"
        "image"
        "texts"
        "button";
    }
  
     .cities__image {
      height: 100%;
      max-width: 460px;
      max-height: 460px;
    }
   
    .cities__content-paragraph {
      margin: 0 16px;
      max-width: 288px;
    }
  
    .cities__paragraph {
      max-width: 484px;
    }
  
    .cities__button {
      padding: 0;
      margin: 0 16px;
      width: 288px;
    }
  }