.footer{

}

.footer__content{
    background-image: url(../images/footerbackground.png);

}

.footer__content-title{
   max-width: 656px;
   max-height: 76px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
    }

.footer__content-subtitle{
    max-width: 280px;
    max-height: 66px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #ffffff;

}

.footer__copyright{
    max-width: 166px;
    max-height: 16px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    color: #ffffff;

}