.gallery{
    margin-top: 118px;
    }

.gallery__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    margin: 0 48px;
        
}
.gallery__image{
    object-fit: cover;
    width: 16rem;
    height: 12rem;
    width: 100%;
    grid-gap:16px;
    
}

@media screen and (max-width: 1024px) {
    .gallery{
        margin-top: 90px;
        width: 1024px;
        }
    .gallery__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 16px;
    }
    
    .gallery__image{
        width: 24rem;
    }   
}

@media screen and (max-width: 720px) {
    .gallery {
        margin-top: 90px;
        width: 100%;
      }
    
    .gallery__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 12px;
        margin-top: 270px;
        width: 288px;
    }
    .gallery__image{
        max-width: 288px;
       
    }
}
