.gallery{
    margin-top: 118px;
    }

.gallery__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    margin: 0 48px;
        
}
.gallery__image{
    max-width: 284px;
    max-height: 213px;
    width: 100%;
    grid-gap:16px;
    
}