.header{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__logo-top{
    max-width: 254px;
    max-height: 70px;
    margin: 34px 0 0;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .header__logo {
      margin: 20.29px 0 0;
      max-width: 188.69px;
      width: 100%;
      }
  }
  