.page{
    margin:0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    background-color: #2A2C2F;
    background-size: contain;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .page {
      background-color: #2a2c2f;
      margin: 0 auto;
      font-family: "Inter", sans-serif;
    }
  }

  @media screen and (max-width: 720px) {
    .page {
      background-color: #2a2c2f;
      margin: 0 auto;
      font-family: "Inter", sans-serif;
    }
  }